version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: vehiclerenter_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: vehiclerenter
      POSTGRES_PASSWORD: secret123
      POSTGRES_DB: vehicle_renter_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d

  pgadmin:
    image: dpage/pgadmin4
    container_name: vehiclerenter_pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.dev
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  pgdata: